@using brickapp.Data.Services
@inherits LayoutComponentBase
@inject IJSRuntime Js
@inject NavigationManager Nav
@inject UserService UserService
@inject UserNotificationService NotificationService
@inject TrackingService TrackingService

@implements IDisposable

<MudThemeProvider Theme="@_theme" IsDarkMode="false" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
   <MudAppBar Elevation="1">
                    <img src="/logo_white.png" alt="App Logo" style="height:36px;width:auto;vertical-align:middle;" />
        <MudText Typo="Typo.h6" Class="ml-3">BrickIsBrick (Demo)</MudText>
        <MudSpacer />
        
        @if (!string.IsNullOrEmpty(_username))
        {
            <MudAvatar Class="mr-2" Size="Size.Medium" Color="Color.Secondary" Style="font-weight:bold;">
                @_username.Substring(0,1).ToUpper()
            </MudAvatar>
            <MudBadge Content="@_newNotificationCount" Color="Color.Error" Overlap="true" Class="mr-2">
            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Email" Size="Size.Small"  OnClick="@GoToNotifications" Class="mr-2"/>
              </MudBadge>
         <MudFab StartIcon="@Icons.Material.Filled.ExitToApp"
                       Color="Color.Secondary"
                       Size="Size.Small" 
                       OnClick="@Logout" />
        }
    </MudAppBar>
    
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
    <MudContainer Fixed="true" Class="mt-8 px-8">
        @Body
        </MudContainer>
        <GlobalLoading />
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>