@using brickapp.Data.Services
@inject UserService UserService

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Home
    </MudNavLink>

    @if (_isAuthenticated)
    {
        <MudNavGroup Title="Community" Icon="@Icons.Material.Filled.People" Expanded="true">
            <MudNavLink Href="allbricks" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AddLink">
                Help mapping a brick
            </MudNavLink>
       
            <MudNavLink Href="add-new-set" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Addchart">
                Help adding a new set
            </MudNavLink>
                 <MudNavLink Href="allsets" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Apps">
                Explore all sets
            </MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="My Area" Icon="@Icons.Material.Filled.AirlineSeatReclineNormal" Expanded="true">
            <MudNavLink Href="myinventory" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Inventory">
                My Inventory
            </MudNavLink>
            <MudNavLink Href="mymocs" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build">
                My MOCs
            </MudNavLink>
              <MudNavLink Href="mywantedlists" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">
                My Wanted Lists
            </MudNavLink>
            <MudNavLink Href="myrequests" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AppRegistration">
                My Requests
            </MudNavLink>

          
        </MudNavGroup>
          @if (_isAdmin)
            {
                <MudNavLink Href="admin-requests" Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.AdminPanelSettings">
                    Admin Requests
                </MudNavLink>
                <MudNavLink Href="admin-panel" Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.AdminPanelSettings">
                    Admin Panel
                </MudNavLink>
            }
    }
    else
    {
        <MudNavLink Href="login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Login">
            Login
        </MudNavLink>
    }
</MudNavMenu>

<div style="position:absolute;bottom:0;left:0;right:0;">
    <div style="margin-left:4px; color:#505050;">&copy; 2025 BrickIsBrick</div>
    <div style="margin-top:4px; margin-left:4px;">
        <a href="/imprint" style="color:#505050;text-decoration:underline;">Imprint</a> &nbsp;|&nbsp;
        <a href="/privacypolicy" style="color:#505050;text-decoration:underline;">Privacy Policy</a>
    </div>
</div>

@code {
    private bool _isAuthenticated;
    private bool _isAdmin;
    private bool _hasRendered;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasRendered)
        {
            _isAuthenticated = await UserService.IsAuthenticatedAsync();
            var user = await UserService.GetCurrentUserAsync();
            _isAdmin = user?.IsAdmin ?? false;

            _hasRendered = true;
            StateHasChanged();
        }
    }

    public async Task RefreshMenuAsync()
    {
        _isAuthenticated = await UserService.IsAuthenticatedAsync();
        var user = await UserService.GetCurrentUserAsync();
        _isAdmin = user?.IsAdmin ?? false;

        StateHasChanged();
    }
}
