@page "/myrequests"
@using Microsoft.AspNetCore.Components
@using Data.Entities
@using Data.Services
@using Services
@inject UserService UserService
@inject RequestService RequestService
@inject Data.Services.ImageService ImageService

<PageTitle>My Requests</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">My Requests</MudText>

<MudTabs>
    <MudTabPanel Text="Mapping requests">
        @if (_mappingRequests == null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else if (!_mappingRequests.Any())
        {
            <MudText>No mapping requests found.</MudText>
        }
        else
        {
            <MudTable Items="_mappingRequests" Hover="true" Striped="true">
                <HeaderContent>
                    <MudTh>Brick</MudTh>
                    <MudTh>Brand</MudTh>
                    <MudTh>Mapping Name</MudTh>
                    <MudTh>Mapping Item ID</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Reason (if rejected)</MudTh>
                    <MudTh>Created</MudTh>
                    <MudTh>Approved By</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Brick?.Name</MudTd>
                    <MudTd>@context.Brand</MudTd>
                    <MudTd>@context.MappingName</MudTd>
                    <MudTd>@context.MappingItemId</MudTd>
                    <MudTd>@context.Status</MudTd>
                    <MudTd>@context.ReasonRejected</MudTd>
                    <MudTd>@context.CreatedAt.ToLocalTime().ToString("g")</MudTd>
                    <MudTd>@context.ApprovedByUser?.Name</MudTd>
                </RowTemplate>
            </MudTable>
        }
    </MudTabPanel>
    <MudTabPanel Text="New Item Requests">
      
        @if (_itemRequests == null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else if (!_itemRequests.Any())
        {
            <MudText>No item requests found.</MudText>
        }
        else
        {
            <MudTable Items="_itemRequests" Hover="true" Striped="true">
                <HeaderContent>
                      <MudTh>Image</MudTh>
                    <MudTh>Brand</MudTh>
                    <MudTh>Name</MudTh>
                    <MudTh>Item Number</MudTh>
                    <MudTh>Status</MudTh>
                  
                    <MudTh>Reason (if rejected)</MudTh>
                </HeaderContent>
                <RowTemplate>
                     <MudTd DataLabel="Image">
                        @{
                            var imageUrl = ImageService.GetItemRequestImagePath(context);
                        }
                        <img src="@imageUrl" alt="Item Image" style="max-width:64px;max-height:64px;border:1px solid #ccc;padding:2px;" />
                    </MudTd>
                    <MudTd DataLabel="Brand">@context.Brand</MudTd>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd>to be implmenented</MudTd>
                    <MudTd DataLabel="Status">
                        @if (context.Status.ToString() == "Approved")
                        {
                           <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Success" Title="Favorite" />
                        }
                        else  if (context.Status.ToString() == "Rejected")
                        {
                           <MudIcon Icon="@Icons.Material.Filled.HeartBroken" Color="Color.Error" Title="Rejected" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Pending" Color="Color.Warning" Title="Pending" />
                            
                        }
                        @context.Status.ToString()
                    </MudTd>
                   
                    <MudTd DataLabel="Reason">
                        @if (context.Status == NewItemRequestStatus.Rejected && !string.IsNullOrWhiteSpace(context.ReasonRejected))
                        {
                            <MudAlert Severity="Severity.Error">@context.ReasonRejected</MudAlert>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </MudTabPanel>
    <MudTabPanel Text="New Set Requests">
        <div>noch zu füllen</div>
    </MudTabPanel>
</MudTabs>

@code {
    private List<MappingRequest>? _mappingRequests;
    private List<NewItemRequest>? _itemRequests;

    protected override async Task OnInitializedAsync()
    {
        var userId = await UserService.GetTokenAsync();
        if (userId != null)
        {
            _mappingRequests = await RequestService.GetMappingRequestsByUserAsync(userId);
            _itemRequests = await RequestService.GetAllNewItemRequestsByUserAsync(userId);
        }
    }
}
